.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  margin-top: auto;
  padding: 0 3.5rem;

  &__btn--prev {
    grid-column: 1;
  }

  &__pages {
    grid-column: 2;
    font-size: 1.15rem;
    color: $color-grey-dark-2;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  &__btn--next {
    grid-column: 3;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
